name: Build Image

on:
  push:
    branches: ["develop"]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
        - name: Checkout repository
          uses: actions/checkout@v3

        - name: Build Docker Image
          run: |
            docker build -t meu-app-builder -f api/Dockerfile.build .
            docker build -t meu-app -f api/Dockerfile.run .
        - name: Push Docker Image to Docker Hub
          env:
              DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
              DOCKER_HUB_ACCESS_TOKEN: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
            run: |
              echo $DOCKER_HUB_ACCESS_TOKEN | docker login -u $DOCKER_HUB_USERNAME --password-stdin
              docker tag meu-app-runner $DOCKER_HUB_USERNAME/meu-app:latest
              docker push $DOCKER_HUB_USERNAME/meu-app:latest